/* Estilo de fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Jost:wght@300;600;800&display=swap');

/* configurações gerais */
body,
html {
    background-color: #1952BF;
    color: white;
    font-family: 'Jost', sans-serif;
    margin-top: 57px;
    height: 100%;
}


/* Barra de navegação */
nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav img {
    width: 90px;
    margin-top: 10px;
    margin-left: 250px;
}

nav ul {
    float: right;
    line-height: 80px;
}

nav ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
    padding-right: 180px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    transition: 0.5s;
}

nav a:hover {
    color: #1952BF;
}

/* Banner */
.umbanner {
    background-image: url("../img/BannerLivros.png");
    height: 70%;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.textoumbanner h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 47px;
    text-transform: uppercase;
    text-align: center;
    padding-right: 1250px;
    padding-left: 45px;
    color: white;
}

.textoumbanner p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: justify;
    padding-right: 1250px;
    padding-left: 45px;
    color: white;
}


/* Texto de descrição*/
.textodescricao {
    color: black;
    background-color: #113780;
    border-radius: 44px;
    font-size: 50px;
}

.textodescricao p {
    text-align: justify;
    color: white;
    padding: 15px 45px 0 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.textodescricao button {
    border: none;
    border-radius: 5px;
    background-color: #97ADFF;
    color: black;
    width: 200px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 1600px;
    margin-bottom: 40px;
    transition: 0.5s;
    cursor: pointer;
}

.textodescricao button:hover {
    background-color: lightblue;
}

/* Texto da parte de contexto */
.areacontexto img {
    border-radius: 44px;
    float: left;
    width: 600px;
}

.areacontexto p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: justify;
    padding: 0 45px 0 620px;
    background-color: #113780;
    border-radius: 44px;
}

.areamissao img {
    border-radius: 44px;
    float: right;
    width: 600px;
}

.areamissao p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: justify;
    padding: 0 620px 0 45px;
    background-color: #113780;
    border-radius: 44px;
}

/* Rodapé */
footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: grey;
    border-top: 5px solid rgb(71, 71, 71);
    font-family: 'Inter', sans-serif;
}

.logorodape img {
    width: 50px;
    margin-top: 30px;
    margin-left: 200px;
}

.redesociais ul {
    float: right;
    margin-top: 30px;
    margin-right: 200px;
}

.redesociais li {
    list-style: none;
    float: left;
    margin: 0 15px;
    padding-right: 180px;
}

.redesociais a {
    text-decoration: none;
}

.redesociais img {
    width: 50px;
    height: 50px;
}

#direitos {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}